In [1]:
import pandas as pd

In [11]:
df1 = pd.read_csv('20201219_162354_EONS0002.csv', delimiter=';', index_col=False)
df2 = pd.read_csv('20201219_162808_TEST0000.csv', delimiter=';', index_col=False)

In [12]:
df1.head()

,UTC YYYY-MM-DDTHH:mm:ss.fff,YYYY-MM-DDTHH:mm:ss.fff,Celsius,Volts,mag/arcsec^2,Init/Subs,MoonPhaseDeg,MoonElevDeg,MoonIllum%,SunElevDeg
0,2020-12-10T00:12:55.000,2020-12-09T17:12:55.000,13.5,4.92,14.05,0,-115.8,-36.638,28.3,-0.665
1,2020-12-10T00:15:05.000,2020-12-09T17:15:05.000,13.8,4.92,12.43,1,-115.8,-37.015,28.3,-1.056
2,2020-12-10T00:20:05.000,2020-12-09T17:20:05.000,12.8,4.94,13.10,1,-115.8,-37.878,28.2,-1.962
3,2020-12-10T00:25:05.000,2020-12-09T17:25:05.000,10.9,4.94,13.98,1,-115.9,-38.732,28.2,-2.874
4,2020-12-10T00:30:05.000,2020-12-09T17:30:05.000,9.3,4.94,15.06,1,-115.9,-39.576,28.1,-3.791

In [13]:
df2.head()

,UTC YYYY-MM-DDTHH:mm:ss.fff,YYYY-MM-DDTHH:mm:ss.fff,Celsius,Volts,mag/arcsec^2,Init/Subs,n,mag/arcsec^2.1,n.1,MoonPhaseDeg,MoonElevDeg,MoonIllum%,SunElevDeg
0,2020-12-10T00:20:06.000,2020-12-09T17:20:06.000,7.0,4.96,12.28,1,48645000,12.27,49095000,-115.8,-37.881,28.2,-1.965
1,2020-12-10T00:25:06.000,2020-12-09T17:25:06.000,6.1,4.96,13.19,1,2107289,13.16,2155481,-115.9,-38.735,28.2,-2.877
2,2020-12-10T00:30:06.000,2020-12-09T17:30:06.000,5.1,4.96,14.28,1,771401,14.20,823483,-115.9,-39.578,28.1,-3.794
3,2020-12-10T00:35:06.000,2020-12-09T17:35:06.000,4.1,4.96,15.47,1,256796,15.26,310113,-116.0,-40.412,28.1,-4.717
4,2020-12-10T00:40:06.000,2020-12-09T17:40:06.000,3.5,4.96,16.57,1,93218,16.08,146330,-116.0,-41.234,28.1,-5.644